### OpenAI Natural Language to SQL Evaluation -- mysql
#### Utilizing token counting informmation from https://platform.openai.com/docs/api-reference/making-requests

In [1]:
import os
import sys
import getpass
from dotenv import load_dotenv, dotenv_values
import pandas as pd
import openai

from IPython.display import display, Markdown, Latex, HTML, JSON
import sqlite3
from sqlite3 import Error
import pymysql
from sqlalchemy import create_engine, text as sql_text

import langchain
from langchain.llms import OpenAI
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain

from cmd import PROMPT
import os
from pyexpat.errors import messages

import openai
import tiktoken

from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.vectorstores import FAISS
from langchain.schema import Document

wd = r"/Users/dovcohen/Documents/Projects/AI/NL2SQL"
sys.path.append(wd)

from OpenAI.NL2SQL.lib_OpenAI import GenAI_NL2SQL

#### Source Environment Variables, set Model and DB parameters, & Initialize GenAI_NL2SQL Object

In [2]:
def Instantiate_OpenAI_Class(Model="gpt-3.5-turbo-instruct", Max_Tokens=250, Encoding_Base = "cl100k_base",Temperature=0):
    load_dotenv("/Users/dovcohen/.NL2SQL_env")
    # SQL DB
    DB = 'mysql'
    MYSQL_USER = os.getenv("MYSQL_USER", None)
    MYSQL_PWD = os.getenv("MYSQL_PWD", None)

    # OpenAI
    OPENAI_API_KEY = os.getenv("OPENAI_API_KEY", None)
    # LLM parameters
   # Model = ["gpt-3.5-turbo-instruct",'text-embedding-ada-002']
    Token_Cost = {"gpt-3.5-turbo-instruct":{"Input":0.0015/1000,"Output":0.002/1000},
                 "text-embedding-ada-002":{"Input":0.0001/1000}}
    

    #Instantiate GenAI_NL2SQL Object
    return GenAI_NL2SQL(OPENAI_API_KEY, Model, Encoding_Base, Max_Tokens, Temperature, \
                        Token_Cost,DB, MYSQL_USER, MYSQL_PWD)

In [ ]:
# Encode/Decode
# encode text
#encoding = tiktoken.get_encoding(Encoding_Base)
#
#encode_txt = encoding.encode("tiktoken is great!")
#print(f'encodings:  {encode_txt}')

# decode tokens to numbers 
#decode_txt = encoding.decode(encode_txt)
?#print(f'dectings:  {decode_txt}')

In [33]:
GPT3 = Instantiate_OpenAI_Class()
ADA = Instantiate_OpenAI_Class( Model = 'text-embedding-ada-002', Max_Tokens=250)

Prompt_Template_File = f"{wd}/OpenAI/prompt_templates/Template_2.txt"
Correction_Prompt_File = f"{wd}/OpenAI/prompt_templates/Correction_Template.txt"
Prompt_Template, status = GPT3.Load_Prompt_Template(File=Prompt_Template_File )
if status != 0:
    print(f'{Prompt_Template_File } failed to load')
 
Correction_Prompt, status  = GPT3.Load_Prompt_Template(File=Correction_Prompt_File )
if status != 0:
    print(f'{Correction_Prompt_File } failed to load')


if status == 0:
    #Correction_Prompt = GPT3.Load_Prompt_Template(File=Correction_Prompt_File )
    print(f'LLM Natural Language to SQL translator')
    print(f'Using {GPT3._Model} set at temperature {GPT3._Temperature} \n')
    
    Question = input(prompt='Question: ')
    
    Query = GPT3.GPT_Completion(Question, Prompt_Template, Correct_Query=True,  \
                                Correction_Prompt= Correction_Prompt, \
                                Max_Iterations=0, Verbose=False, QueryDB = True)

LLM Natural Language to SQL translator
Using gpt-3.5-turbo-instruct set at temperature 0

Question:  Who lives in Mary Spock's household?

Input
Total Cost: 0.002 Tokens Used 1078
Output
Total Cost: 0.002 Tokens Used 1166


SELECT client.ID, client.Client_ID, client.Person_Org, client.Name, client.SSN, address.Address, address.City, address.State, address.Zip
FROM client
INNER JOIN address ON client.Address_ID = address.ID
INNER JOIN HH ON client.HH_ID = HH.ID
INNER JOIN relationship ON client.ID = relationship.client_id
WHERE HH.Name = 'Mary Spock'
AND relationship.relationship_type = 'Primary';

    ID  Client_ID Person_Org          Name          SSN            Address  \
0   4          4     Person    Mary Spock  456-78-9012  1023 Arcadia Blvd
1   4          4     Person    Mary Spock  456-78-9012  1023 Arcadia Blvd
2   4          4     Person    Mary Spock  456-78-9012  1023 Arcadia Blvd
3   4          4     Person    Mary Spock  456-78-9012  1023 Arcadia Blvd
4   4          4     Person    Mary Spock  456-78-9012  1023 Arcadia Blvd
5   4          4     Person    Mary Spock  456-78-9012  1023 Arcadia Blvd
6   4          4     Person    Mary Spock  456-78-9012  1023 Arcadia Blvd
7   4          4     Person    Mary Spock  456-78-9012  1023 Arcadia Blvd
8   7          7     Person  George Spock  789-01-2345  1023 Arcadia Blvd
9   7          7     Person  George Spock  789-01-2345  1023 Arcadia Blvd

       City State    Zip
0  La Jolla    CA  92037
1  La Jolla    CA  92037
2  La Jolla    CA  92037
3  La Jolla    CA  92037
4  La Jolla    CA  92037
5  La Jolla    CA  92037
6  La Jolla    CA  92037
7  La Jolla    CA  92037
8  La Jolla    CA  92037
9  La Jolla    CA  92037

In [16]:
few_shots = {}
question = "Return all Clients?"
query = """SELECT client.ID, client.Client_ID, client.Person_Org, client.Name, client.SSN, address.Address, address.City, address.State, address.Zip 
FROM client INNER JOIN address ON client.Address_ID = address.ID """
few_shots[question]=query.replace("\n"," ")

question = "What are Mary Spocks account balances on 10/10/2023?"
query = """ SELECT account.acct_nbr, balance.balance, product.type, date.date
FROM account
INNER JOIN product ON account.product_id = product.id
INNER JOIN balance ON account.id = balance.account_id
INNER JOIN date ON balance.balance_dt_id = date.id
INNER JOIN relationship ON account.id = relationship.account_id
INNER JOIN client ON relationship.client_id = client.id
WHERE client.name = 'Mary Spock'
AND date.date = '2023-10-10'
AND relationship.relationship_type = 'Primary';
"""
few_shots[question]=query.replace("\n"," ")

question = """What is mary spocks portfolio summary as of 10/10/2023 """
query = """ SELECT product.type AS 'Account Type',
       SUM(CASE WHEN account.status = 'Open' THEN 1 ELSE 0 END) AS 'Number of Open Accounts',
       SUM(CASE WHEN account.status = 'Closed' THEN 1 ELSE 0 END) AS 'Number of Closed Accounts',
       SUM(balance.balance) AS 'Total Balances',
       AVG(balance.balance) AS 'Month to Date Average Balance'
FROM client
INNER JOIN relationship ON client.id = relationship.client_id AND relationship.relationship_type = 'Primary'
INNER JOIN account ON relationship.account_id = account.id
INNER JOIN product ON account.product_id = product.id
INNER JOIN balance ON account.id = balance.account_id
INNER JOIN date ON balance.balance_dt_id = date.id
WHERE client.name = 'Mary Spock'
AND date.date = '2023-10-10'
GROUP BY product.type"""
few_shots[question]=query.replace("\n"," ")
few_shots

{'Return all Clients?': 'SELECT client.ID, client.Client_ID, client.Person_Org, client.Name, client.SSN, address.Address, address.City, address.State, address.Zip  FROM client INNER JOIN address ON client.Address_ID = address.ID ',
 'What are Mary Spocks account balances on 10/10/2023?': " SSELECT account.acct_nbr, balance.balance, product.type, date.date FROM account INNER JOIN product ON account.product_id = product.id INNER JOIN balance ON account.id = balance.account_id INNER JOIN date ON balance.balance_dt_id = date.id INNER JOIN relationship ON account.id = relationship.account_id INNER JOIN client ON relationship.client_id = client.id WHERE client.name = 'Mary Spock' AND date.date = '2023-10-10' AND relationship.relationship_type = 'Primary'; ",
 'What is mary spocks portfolio summary as of 10/10/2023 ': " SELECT product.type AS 'Account Type',        SUM(CASE WHEN account.status = 'Open' THEN 1 ELSE 0 END) AS 'Number of Open Accounts',        SUM(CASE WHEN account.status = 'Closed' THEN 1 ELSE 0 END) AS 'Number of Closed Accounts',        SUM(balance.balance) AS 'Total Balances',        AVG(balance.balance) AS 'Month to Date Average Balance' FROM client INNER JOIN relationship ON client.id = relationship.client_id AND relationship.relationship_type = 'Primary' INNER JOIN account ON relationship.account_id = account.id INNER JOIN product ON account.product_id = product.id INNER JOIN balance ON account.id = balance.account_id INNER JOIN date ON balance.balance_dt_id = date.id WHERE client.name = 'Mary Spock' AND date.date = '2023-10-10' GROUP BY product.type"}

In [17]:
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.vectorstores import FAISS
from langchain.schema import Document

few_shot_docs = [Document(page_content=question, metadata={'sql_query': few_shots[question]}) for question in few_shots.keys()]

In [18]:
few_shot_docs

[Document(page_content='Return all Clients?', metadata={'sql_query': 'SELECT client.ID, client.Client_ID, client.Person_Org, client.Name, client.SSN, address.Address, address.City, address.State, address.Zip  FROM client INNER JOIN address ON client.Address_ID = address.ID '}),
 Document(page_content='What are Mary Spocks account balances on 10/10/2023?', metadata={'sql_query': " SSELECT account.acct_nbr, balance.balance, product.type, date.date FROM account INNER JOIN product ON account.product_id = product.id INNER JOIN balance ON account.id = balance.account_id INNER JOIN date ON balance.balance_dt_id = date.id INNER JOIN relationship ON account.id = relationship.account_id INNER JOIN client ON relationship.client_id = client.id WHERE client.name = 'Mary Spock' AND date.date = '2023-10-10' AND relationship.relationship_type = 'Primary'; "}),
 Document(page_content='What is mary spocks portfolio summary as of 10/10/2023 ', metadata={'sql_query': " SELECT product.type AS 'Account Type',        SUM(CASE WHEN account.status = 'Open' THEN 1 ELSE 0 END) AS 'Number of Open Accounts',        SUM(CASE WHEN account.status = 'Closed' THEN 1 ELSE 0 END) AS 'Number of Closed Accounts',        SUM(balance.balance) AS 'Total Balances',        AVG(balance.balance) AS 'Month to Date Average Balance' FROM client INNER JOIN relationship ON client.id = relationship.client_id AND relationship.relationship_type = 'Primary' INNER JOIN account ON relationship.account_id = account.id INNER JOIN product ON account.product_id = product.id INNER JOIN balance ON account.id = balance.account_id INNER JOIN date ON balance.balance_dt_id = date.id WHERE client.name = 'Mary Spock' AND date.date = '2023-10-10' GROUP BY product.type"})]

In [21]:
embeddings = OpenAIEmbeddings(model = 'text-embedding-ada-002')

few_shot_docs = [Document(page_content=question, metadata={'sql_query': few_shots[question]}) for question in few_shots.keys()]
vector_db = FAISS.from_documents(few_shot_docs, embeddings)
retriever = vector_db.as_retriever()

In [23]:
vector_db

#### DB Interface

In [ ]:
_Prompt_Template_ = """You are a MYSQL expert. 
Given an input question, first create and return a syntactically correct sql query.
Unless the user specifies a specific number of rows to obtain in the question,
the query should return for at most 10 results using the LIMIT clause as per MYSQL. 

You may order the results to return the most informative data in the database.
Never query for all columns from a table. 
You must query only the columns that are needed to answer the question. 

Pay attention to use only the column names you can see in the tables below. 
Be careful to exclude columns that do not exist in the database.
Pay attention to which column is in which table.

Unless specified in the question, insert "relationship.relationship_type ='Primary'" in the where
clause when joining on the relationship table.
When asked about account types, use the "type" field in the product table. 
When asked about a client id, use the "id" field in the client table.
When asked about a clients who share a household, join the "client" table with "HH" table.
When asked for the full or complete address, return "address, city, state and zip" from the address table.

Never use First_Name and Last_Name when querying the client table.

When asked for portfolio summary, return account type, number of open accounts, number of closed accounts, total balances,
month to date average balance

Only use the following tables:

 CREATE TABLE client
    (
        ID integer PRIMARY KEY,
        Client_ID integer not null,
        HH_ID integer not null,
        Person_Org varchar(128) not null,
        Name varchar(128)not null,
        FirstName varchar(128) ,
        LastName varchar(128) ,
        SSN varchar(128),
        Address_ID integer not null,
        Banker_ID integer not null,
        Employer_ID integer not null,
        Open_Dt date not null,
        FOREIGN KEY(Address_ID) REFERENCES address(ID),
        FOREIGN KEY(Banker_ID) REFERENCES banker(ID),
        FOREIGN KEY(HH_ID) REFERENCES HH(ID),
        FOREIGN KEY(Employer_ID) REFERENCES employer(ID)
    
    );
    
    create table address
    (
        ID integer primary key,
        Address varchar(128),
        City varchar(128),
        State varchar(128),
        Zip varchar(128)
    );
    
    create table  HH
    (
        ID integer PRIMARY KEY,
        Person_Org varchar(128) not null,
        Name varchar(128) not null,
        FirstName varchar(128) ,
        LastName varchar(128) ,
        Address_ID integer not null,
        Banker_ID integer not null,
        Open_Dt date not null,
        FOREIGN KEY(Address_ID) REFERENCES address(ID),
        FOREIGN KEY(Banker_ID) REFERENCES banker(ID)
    );
 
    create table employer
    (
        ID integer primary key,
        Name varchar(128),
        Address_ID integer not null,
        Client_ID integer,
        Industry varchar(128),
        FOREIGN KEY(Address_ID) REFERENCES address(ID)
    );
         
    create tableproduct
    (
        ID integer primary key,
        Type varchar(128) not null,
        Name varchar(128) not null
    );

    create table banker
    (
        ID integer primary key,
        Name varchar(128) not null,
        FirstName  varchar(128) not null,
        LastName varchar(128) not null
    );

    create table account
    (
        ID integer primary key,
        acct_nbr varchar(128) not null,
        Product_ID integer not null,
        Banker_ID integer not null,
        Status varchar(128) not null,
        Open_Dt date not null,
        Close_Dt date,
        FOREIGN KEY(Product_ID) REFERENCES Product(ID),
        FOREIGN KEY(Banker_ID) REFERENCES banker(ID)   
    );
         
    create table relationship
    (
        ID integer primary key,
        Account_ID integer not null,
        Client_ID integer not null,
        Relationship_Type varchar(128) not null,
        FOREIGN KEY(Account_ID) REFERENCES account(ID),
        FOREIGN KEY(Client_ID) REFERENCES client(ID)
    );
         

    create table  balance
    (
        ID integer primary key,
        Account_ID integer not null,
        Balance real not null,
        Balance_Dt_Id integer not null,
        FOREIGN KEY(Account_ID) REFERENCES account(ID),
        FOREIGN KEY(Balance_Dt_Id) REFERENCES date(ID)
    );

         
    create table date
    (
        ID integer primary key,
        Date date not null,
        Julian_Dt integer not null,
        Month integer not null,
        Day integer not null,
        Year integer not null,
        Quarter integer not null
    );
    
USER
{Question}
"""

In [ ]:
Question = 'What are Mary Spock Account Balances. Return date, account type, account number, and balance'
Input_Vars = {'{Question}':Question}

# Input
Prompt = GPT3.Prompt_Question(_Prompt_Template_,Input_Vars)
Cost, Tokens_Used  = GPT3.Prompt_Cost(Prompt)
print('Input')
print(f'Total Cost: {round(Cost,3)} Tokens Used {Tokens_Used}')

# Response
Response = GPT3.OpenAI_Completion(Prompt)
Cost, Tokens_Used  = GPT3.OpenAI_Usage_Cost(Response)
print('Output')
print(f'Total Cost: {round(Cost,3)} Tokens Used {Tokens_Used}')

Query = GPT3.OpenAI_Text_Extraction(Response, Type='SQL')
print(Query)
df = GPT3.run_query(DB=DB, Query = Query)
print(df)

In [ ]:
Question = 'What are Mary Spock Account Balances on 10/11/2023. Return date, account type, sum(balance) labeled Balance Total'
Query = GPT3.GPT3_SimpleQuestion(Question, _Prompt_Template_, Verbose=True, QueryDB = True)

In [ ]:
Question = "How many of Mary Spock's, ssn = 456-78-9012,  accounts are open and closed by account type \
and what are their balances on 10/11/23?  \
Return account type, total number of open and total number of closed accounts"
Query = GPT3.GPT3_SimpleQuestion(Question, _Prompt_Template_, Verbose=True, QueryDB = True)

In [ ]:
# Add Question to Prompt Template
Question = "What is Mary Spock's, ssn = 456-78-9012, portfolio summary?"
Query = GPT3.GPT3_SimpleQuestion(Question, _Prompt_Template_, Verbose=True, QueryDB = True)

In [ ]:
# Add Question to Prompt Template
Question = "What is Mary Spock, ssn = 456-78-9012, portfolio summary?"
Query = GPT3.GPT3_SimpleQuestion(Question, _Prompt_Template_, Verbose=True, QueryDB = True)

In [ ]:
Question = 'Which clients live in household id = 3? Return the client id, client name and the full client address.'
Input_Vars = {'{Question}':Question}

# Input
Prompt = GPT3.Prompt_Question(_Prompt_Template_,Input_Vars)
Cost, Tokens_Used  = GPT3.Prompt_Cost(Prompt)
print('Input')
print(f'Total Cost: {round(Cost,3)} Tokens Used {Tokens_Used}')

# Response
Response = GPT3.OpenAI_Completion(Prompt)
Cost, Tokens_Used  = GPT3.OpenAI_Usage_Cost(Response)
print('Output')
print(f'Total Cost: {round(Cost,3)} Tokens Used {Tokens_Used}')

Query = GPT3.OpenAI_Text_Extraction(Response, Type='SQL')
print(Query)
df = GPT3.run_query(DB=DB, Query = Query)
print(df)

### Using langchain native functions

rtn = GPT3.LangChain_Initiate_LLM(Model='OpenAI')<br>
Prompt = PromptTemplate <br>
( <br>
    input_variables=["Question"], template=_Prompt_Template_ <br>
)
<br>
rtn = GPT3.LangChainCompletion(Prompt=Prompt, Input=Question)
print(rtn)

In [ ]:
Question = 'What are Mary Spock Account Balances. Return date, account type, account number, and balance'
Query = GPT3.GPT3_SimpleQuestion(Question, _Prompt_Template_, Verbose=True, QueryDB = True)

In [ ]:
# Add Question to Prompt Template
Question = 'What are Mary Spock Account Balances on 10/11/2023. Return date, account type, sum(balance) labeled Balance Total'
Query = GPT3.GPT3_SimpleQuestion(Question, _Prompt_Template_, Verbose=True, QueryDB = True)

In [ ]:
# Add Question to Prompt Template
Question = "How many of Mary Spock's, ssn = 456-78-9012,  accounts are open and closed by account type \
and what are their balances on 10/11/23?  \
Return account type, total number of open and total number of closed accounts"
Query = GPT3.GPT3_SimpleQuestion(Question, _Prompt_Template_, Verbose=True, QueryDB = True)

In [ ]:
# Add Question to Prompt Template
Question = "What is Mary Spock's, ssn = 456-78-9012, portfolio summary?"
Query = GPT3.GPT3_SimpleQuestion(Question, _Prompt_Template_, Verbose=True, QueryDB = True)

In [ ]:
# Add Question to Prompt Template
Question = "What is Mary Spock, ssn = 456-78-9012, portfolio summary?"
Query = GPT3.GPT3_SimpleQuestion(Question, _Prompt_Template_, Verbose=True, QueryDB = True)

In [ ]:
Question = "Who lives in the same household as Mary Spock? Return the client id, household id and client name"
Query = GPT3.GPT3_SimpleQuestion(Question, _Prompt_Template_, Verbose=True, QueryDB = True)

In [ ]:


x = "SELECT * FROM clients;"
y = """SELECT c.Name, a.Address, a.City, a.State, a.Zip 
                                FROM client c INNER JOIN address a ON c.Address_ID = a.ID;"""
z = """SELECT d.date, c.Name, a.acct_nbr , 
                    b.Balance  FROM client c INNER JOIN relationship r ON c.ID = r.Client_ID INNER JOIN account a  
                    ON r.Account_ID = a.ID INNER JOIN balance b ON a.ID = b.Account_ID  INNER JOIN date d 
                    ON b.Balance_Dt_Id = d.ID WHERE d.Date = '2023-10-11' AND r.relationship_type ='Primary';"""

few_shot_examples = {"Who are our clients?":x ,
                     "Who are our clients and where do they live?":y ,
                    "List clients and their account balances for 10/11/2023":z }

embeddings = OpenAIEmbeddings()

few_shot_docs = [Document(page_content=question, metadata={'sql_query': few_shot_examples[question]}) for question in few_shot_examples.keys()]
vector_db = FAISS.from_documents(few_shot_docs, embeddings)
retriever = vector_db.as_retriever()

In [ ]:
few_shot_examples

In [ ]:
from langchain.agents.agent_toolkits import create_retriever_tool
from langchain.agents import create_sql_agent, AgentType
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.utilities import SQLDatabase
from langchain.chat_models import ChatOpenAI
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.vectorstores import FAISS
from langchain.schema import Document
tool_description = """
This tool will help you understand similar examples to adapt them to the user question.
Input to this tool should be the user question.
"""

retriever_tool = create_retriever_tool(
        retriever,
        name='sql_get_similar_examples',
        description=tool_description
    )
custom_tool_list = [retriever_tool]



db = SQLDatabase.from_uri("sqlite:///Chinook.db")
llm = ChatOpenAI(model_name='gpt-4',temperature=0)

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

custom_suffix = """
I should first get the similar examples I know.
If the examples are enough to construct the query, I can build it.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables
"""

agent = create_sql_agent(llm=llm,
                         toolkit=toolkit,
                         verbose=True,
                         agent_type=AgentType.OPENAI_FUNCTIONS,
                         extra_tools=custom_tool_list,
                         suffix=custom_suffix
                        )

In [ ]:
                     
              "List clients and their account balances for 10/11/2023": "SELECT d.date, c.Name, a.acct_nbr , b.Balance  \
              FROM client c INNER JOIN relationship r ON c.ID = r.Client_ID INNER JOIN account a \ 
              ON r.Account_ID = a.ID INNER JOIN balance b ON a.ID = b.Account_ID  INNER JOIN date d \
              ON b.Balance_Dt_Id = d.ID WHERE d.Date = '2023-10-11' AND r.relationship_type ='Primary';"}

In [ ]:
from langchain.chains import LLMChain
from langchain import PromptTemplate
from langchain.chains import SimpleSequentialChain
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain, SQLDatabaseSequentialChain
from IPython.display import display, Markdown, Latex, HTML, JSON

from langchain.chat_models import ChatOpenAI
from langchain.chains import create_sql_query_chain

pg_uri = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PWD}@localhost/fakebank'
db = SQLDatabase.from_uri(pg_uri)

llm = OpenAI(temperature=0, openai_api_key=OPENAI_API_KEY, model_name='gpt-3.5-turbo')

chain = create_sql_query_chain(ChatOpenAI(temperature=0,model_name='gpt-3.5-turbo'), db)
response = chain.invoke({"question":"How many employees are there"})
print(response)

In [ ]:
from langchain.prompts import PromptTemplate

TEMPLATE = """Given an input question, first create a syntactically correct mysql query to run, then look at the results of the query and return the answer.
Use the following format:

Question: "Question here"
SQLQuery: "SQL Query to run"
SQLResult: "Result of the SQLQuery"
Answer: "Final answer here"

Only use the following tables:


CREATE TABLE client
    (
        ID integer PRIMARY KEY,
        Client_ID integer not null,
        HH_ID integer not null,
        Person_Org varchar(128) not null,
        Name varchar(128)not null,
        FirstName varchar(128) ,
        LastName varchar(128) ,
        SSN varchar(128),
        Address_ID integer not null,
        Banker_ID integer not null,
        Employer_ID integer not null,
        Open_Dt date not null,
        FOREIGN KEY(Address_ID) REFERENCES address(ID),
        FOREIGN KEY(Banker_ID) REFERENCES banker(ID),
        FOREIGN KEY(HH_ID) REFERENCES HH(ID),
        FOREIGN KEY(Employer_ID) REFERENCES employer(ID)
    
    );
    
    create table address
    (
        ID integer primary key,
        Address varchar(128),
        City varchar(128),
        State varchar(128),
        Zip varchar(128)
    );
    
    create table  HH
    (
        ID integer PRIMARY KEY,
        Person_Org varchar(128) not null,
        Name varchar(128) not null,
        FirstName varchar(128) ,
        LastName varchar(128) ,
        Address_ID integer not null,
        Banker_ID integer not null,
        Open_Dt date not null,
        FOREIGN KEY(Address_ID) REFERENCES address(ID),
        FOREIGN KEY(Banker_ID) REFERENCES banker(ID)
    );
 
    create table employer
    (
        ID integer primary key,
        Name varchar(128),
        Address_ID integer not null,
        Client_ID integer,
        Industry varchar(128),
        FOREIGN KEY(Address_ID) REFERENCES address(ID)
    );
         
    create tableproduct
    (
        ID integer primary key,
        Type varchar(128) not null,
        Name varchar(128) not null
    );

    create table banker
    (
        ID integer primary key,
        Name varchar(128) not null,
        FirstName  varchar(128) not null,
        LastName varchar(128) not null
    );

    create table account
    (
        ID integer primary key,
        acct_nbr varchar(128) not null,
        Product_ID integer not null,
        Banker_ID integer not null,
        Status varchar(128) not null,
        Open_Dt date not null,
        Close_Dt date,
        FOREIGN KEY(Product_ID) REFERENCES Product(ID),
        FOREIGN KEY(Banker_ID) REFERENCES banker(ID)   
    );
         
    create table relationship
    (
        ID integer primary key,
        Account_ID integer not null,
        Client_ID integer not null,
        Relationship_Type varchar(128) not null,
        FOREIGN KEY(Account_ID) REFERENCES account(ID),
        FOREIGN KEY(Client_ID) REFERENCES client(ID)
    );
         

    create table  balance
    (
        ID integer primary key,
        Account_ID integer not null,
        Balance real not null,
        Balance_Dt_Id integer not null,
        FOREIGN KEY(Account_ID) REFERENCES account(ID),
        FOREIGN KEY(Balance_Dt_Id) REFERENCES date(ID)
    );

         
    create table date
    (
        ID integer primary key,
        Date date not null,
        Julian_Dt integer not null,
        Month integer not null,
        Day integer not null,
        Year integer not null,
        Quarter integer not null
    );
    

Some examples of SQL queries that correspond to questions are:

{few_shot_examples}

Question: {question}"""

CUSTOM_PROMPT = PromptTemplate(
    input_variables=["question","few_shot_examples"], template=TEMPLATE
)

chain = create_sql_query_chain(llm=ChatOpenAI(temperature=0,model_name='gpt-3.5-turbo'), db=db, prompt=CUSTOM_PROMPT)
response = chain.invoke({"question":"What are the names and addresses of clients","few_shot_examples":few_shot_examples})
print(response)

In [ ]:
help(create_sql_query_chain)

In [ ]:
few_shot_examples

PROMPT = """ 
Given an input question, first create a syntactically correct mysql query to run,  
then look at the results of the query and return the answer.  
The question: {question}
"""

db_chain = SQLDatabaseSequentialChain(llm=llm, database=db, verbose=True, top_k=3)

question = "what are the names and addresses of clients?" 
# use db_chain.run(question) instead if you don't have a prompt
db_chain.run(PROMPT.format(question=question))

In [ ]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
# from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType

mysql_uri = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PWD}@localhost/fakebank'
db = SQLDatabase.from_uri(mysql_uri,include_tables=['client','address'], 
    sample_rows_in_table_info=0 )

llm = ChatOpenAI(temperature=0, verbose=True, model='gpt-3.5-turbo')

agent_executor = create_sql_agent(
    llm=llm,
    toolkit=SQLDatabaseToolkit(db=db, llm=llm),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)
rsp = agent_executor.run(
    """hat are the names and addresses of clients? Return the answer in markdown format 
    with client id, name, address, city, state,zip"""
)

In [ ]:
### Zero Shot
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
# from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType
from langchain.utilities import SQLDatabase
from langchain.chat_models import ChatOpenAI

# include_tables=['client','address']
mysql_uri = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PWD}@localhost/fakebank'
db = SQLDatabase.from_uri(mysql_uri, 
    sample_rows_in_table_info=0 )

llm = OpenAI(temperature=0, openai_api_key=OPENAI_API_KEY, model_name='gpt-3.5-turbo-instruct')

agent_executor = create_sql_agent(
    llm=OpenAI(temperature=0),
    toolkit=SQLDatabaseToolkit(db=db, llm=llm),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

agent_executor.run(
    "What are Mary Spock balances on 10/11/2023?"
)

In [ ]:
from langchain.chat_models import ChatOpenAI
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.vectorstores import FAISS
from langchain.schema import Document

In [ ]:
Query = """SELECT c.Name, b.Balance
FROM client c
INNER JOIN relationship r ON c.ID = r.Client_ID
INNER JOIN account a ON r.Account_ID = a.ID
INNER JOIN balance b ON a.ID = b.Account_ID
INNER JOIN date d ON b.Balance_Dt_Id = d.ID
WHERE d.Date = '2023-10-11'
AND relationship.relationship_type ='Primary'
LIMIT 10;"""

In [ ]:
Markdown(rsp)